@import "tailwindcss";

:root {
	--color-primary: #e0b974;
	--color-secondary: #ffcdc9;

	--color-accent: #ff8a3d;
	--color-accent-hover: #f37023;

	--color-dark: #171717;
	--color-light: #ffffff;

	--color-background: #f7e7c6;
	--color-background-soft: #ffe2dd;
	--color-background-alt: #fbead6;
	--color-surface: #fff7ef;

	--color-gray-100: #f8f8f8;
	--color-gray-200: #eeeeee;
	--color-gray-300: #e0e0e0;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #9e9e9e;
	--color-gray-600: #757575;
	--color-gray-700: #616161;
	--color-gray-800: #424242;
	--color-gray-900: #212121;

	--color-success: #4caf50;
	--color-warning: #ffb74d;
	--color-error: #e53935;
	--color-info: #2196f3;

	--gradient-brand: linear-gradient(135deg, #ffcdc9 0%, #e0b974 100%);

	--gradient-soft: linear-gradient(to right, #ffe5d9, #f5dcb6);
}

/* :root {
	--color-primary: #f3d47e;
	--color-secondary: #d09f52;

	--color-accent: #ff8a3d;
	--color-accent-hover: #f37023;

	--color-dark: #171717;
	--color-light: #ffffff;

	--color-background: #f7e7c6;
	--color-background-soft: #ffe2dd;
	--color-background-alt: #fbead6;
	--color-surface: #fff7ef;

	--color-gray-100: #f8f8f8;
	--color-gray-200: #eeeeee;
	--color-gray-300: #e0e0e0;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #9e9e9e;
	--color-gray-600: #757575;
	--color-gray-700: #616161;
	--color-gray-800: #424242;
	--color-gray-900: #212121;

	--color-success: #4caf50;
	--color-warning: #ffb74d;
	--color-error: #e53935;
	--color-info: #2196f3;

	--gradient-brand: linear-gradient(135deg, #f0d98d 0%, #f3d47e 100%);

	--gradient-soft: linear-gradient(to right, #f0d98d, #f5dcb6);
} */
/* :root {

	--color-primary: #f3d47e;       
	--color-secondary: #d09f52;    

	--color-accent: #ff9a4f;        
	--color-accent-hover: #f07c2e; 

	--color-dark: #2a1e12;       
	--color-light: #ffffff;

	--color-background: #f8ecd1;       
	--color-background-soft: #f6e2ba;  
	--color-background-alt: #f4d9a2;  
	--color-surface: #fff8eb;          

	--color-gray-100: #fafafa;
	--color-gray-200: #eeeeee;
	--color-gray-300: #e0e0e0;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #9e9e9e;
	--color-gray-600: #757575;
	--color-gray-700: #5a5a5a;
	--color-gray-800: #3b3b3b;
	--color-gray-900: #1f1f1f;

	--color-success: #5aa35e;     
	--color-warning: #ffca76;      
	--color-error: #e05f47;        
	--color-info: #3a8fd9;         

	--gradient-brand: linear-gradient(135deg, #f3d47e 0%, #d09f52 100%);
	--gradient-soft: linear-gradient(to right, #fff3db, #f5dbad);
} */

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
